body{
    background-image:url('http://imagens.baixarquadrinhos.com/2017/01/Ler-Online-Manga-Boku-no-Hero-123-Kohei-Horikosh-ou-Baixar-em-Cbr-e-Pdf.jpg');
    background-size:auto 45vh;
    font-family:arial;
    height: 100vh;
  }
  
  .menu{
    background-color:white;
  }
  .menu li{
    list-style: none;
  }
  
  .menu ul{
    display:flex;
    justify-content: space-around;
  }
  
  a{
    color:black;
    text-decoration: none;
  }
  
  a:hover{
    text-decoration:underline;
  }
  
  .site-title,
  .site-subtitle {
    background-color:whitesmoke;
    text-align: center;
  }
    